.me-auto a{
    text-decoration: none;
    margin-left: 15px;
    color: white;
    margin-bottom: 5px;
}

.nav-last a {
    text-decoration: none;
    margin-left: 15px;
    color: white;
    margin-bottom: 5px;
}
.nav-last h4 {
    text-decoration: none;
    margin-left: 15px;
    color: white;
    margin-bottom: 5px;
}
.img-d{
    border-radius: 50px;
    width: 50px;
}
